Repository mindset-dojo/mindset-dojo.github.io, pull requests merged in 2024-05, with the labels that each got.

#3 Jeremy McMillan white belt request
  docs/_data/members/jeremy_mcmillan.yaml
Labels: belt-request, mindset, white, belt-claim-incorrect-yaml-formatting

#4 belt request
  docs/_data/members/allison-kaufmann.yaml
Labels: belt-request, mindset, white, belt-claim-verified-yaml

#5 white belt request
  docs/_data/members/nick-basil.yaml
Labels: belt-request, mindset, white, belt-claim-verified-yaml

#9 Update Mission
  docs/_data/domains/Mindset.yaml
Labels: enhancement
